@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.currencyContainer--precios-descuentos {
  color: #393939;
  font-weight: 900;
  font-family: "Lato";
  text-transform: uppercase;
  position: relative;
  font-size: .8rem;
}

.spotPrice--precios-descuentos {
  border-top: 2px solid #eaeaea;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.transferPrice--precios-descuentos {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: .5rem;
}

.transferPriceImg--precios-descuentos {
  width: 130px;
  height: 38.75px;
  background-image: url(/arquivos/efectivo-gris-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.transferPriceImg--precios-descuentos:hover {
  width: 130px;
  height: 38.75px;
  background-image: url(/arquivos/efectivo-color-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.webPayPrice--precios-descuentos {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: .5rem;
}

.webPayPriceImg--precios-descuentos {
  width: 130px;
  height: 38.75px;
  background-image: url(/arquivos/webpay-gris-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.webPayPriceImg--precios-descuentos:hover {
  width: 130px;
  height: 38.75px;
  background-image: url(/arquivos/webpay-color-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mercadolibrePrice--precios-descuentos {
  display: flex;
  align-items: center;
  justify-content: start;
}

.mercadolibrePriceImg--precios-descuentos {
  width: 130px;
  height: 38.75px;
  background-image: url(/arquivos/mercado-gris-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mercadolibrePriceImg--precios-descuentos:hover {
  width: 130px;
  height: 38.75px;
  background-image: url(/arquivos/mercado-color-new.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/*spotPriceSavings*/
.spotPriceSavings {
  font-weight: bold;
  margin-bottom: .1rem;
  text-align: start;
  font-size: .8rem;
}

/* @media (max-width: 767px) {
  .webPayPrice--precios-descuentos,
  .transferPrice--precios-descuentos,
  .mercadolibrePrice--precios-descuentos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
} */

.transferPricePLP {
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
}

.listPrice {
  font-family: 'Lato';
}

.transferPricePLP .currencyContainer {
  font-weight: 600;
  font-size: 1.4rem;
}

.containerTransferPriceTextPLP {
  font-family: 'Gotham Regular';
}

.transferPriceTextPLP {
  text-align: start;
  font-size: 0.65rem;
  margin-top: 1px;
}

@media only screen and (max-width: 60em) {
  .transferPricePLP {
    display: block;
  }

  .discountPrice {
    display: flex;
  }

  .listPrice {
    justify-content: flex-start !important;
  }
}