.myWishListProductsContainer {
  overflow-y: auto;
  max-height: 785px;
  height: 100% !important;
}

.player-video-el {
  position: absolute;
  left: 0;
}

.chatTextContainer {
  text-align: initial;
}

.modalMain {
  position: absolute;
  bottom: -10px;
}
